@{
    ViewBag.Title = "Index";
}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/FightScript.js"></script>
<script>

    $(document).on('click', '#btnBack', function () {
        window.location = "../Account/Index"

    });

    var args = getUrlVars();

    fight(args.ID, args.MyID);
</script>

<style>
    .inline {
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 10px;
        margin-top: 4px;
    }

    div {
        position: center;
        border: 1px solid black;
        bottom: 20px;
        height: 90%;
        width: 100%;
    }
</style>
<div id="frame">

</div>
<input id="btnBack" class="inline" type="button" value="Wróć do głównego menu." />
<input id="escapeBack" class="inline" type="button" value="Poddaj się." />