@{
    ViewBag.Title = "Fights";
}

<script>
    $(document).ready(function () {
        var t = 0;
        $("#button1").click(function () {
            $.ajax({
                url: '/Fights/CreateWarrior',
                type: 'POST',
                data: { ref1: 3 },
                success: function (response) {

                    if (response.success) {
                        console.log(response.info);
                    }
                },
                error: function (xhr) {
                    console.log("Error with get users list.");
                }
            })
        });
    });
</script>

<h2>Fight</h2>

<input type="button" id="#button1" value="TEST">