@{
    ViewBag.Title = "Account";
}
<script>
 
    $http.get('/Account/GamerListController/Download')
        .then(function (response) { });

</script>

<h2>Account</h2>
<input type="button" name="button1" value="Pobierz liste graczy">
<body>

    @Html.Partial("~/Views/Account/GamerList.cshtml")

</body>
