<script>

    $(document).ready(function () {
        $("#button1").click(function () {
            $.ajax({
                url: '/GamerList/GetGamerList',
                type: 'GET',
                success: function (data) {
                    console.log(data.model);
                    load(data);
                },
                error: function (xhr) {
                    console.log("Error with remove ");
                }
            })
        });
    });

    function load(model) {
        var table = $('#myTable');

        table.appendTo()

        $('#myTable').children(0).children(0).append('<div>' + model.model.Name + '</div>');
        $('#myTable').children(0).children(1).append('<div>' + model.model.Agility + '</div>');
        $('#myTable').children(0).children(2).append('<div>' + model.model.Defense + '</div>');
        $('#myTable').children(0).children(3).append('<div>' + model.model.Strength + '</div>');
        $('#myTable').children(0).children(4).append('<div>' + '<input type="button" value = "wyzwij">' + '</div>');
   
    };
</script>

<style>
    .myTable {
        display: table;
    }

    .tableRow {
        width:30px;
        height: 20px;
        display: table-row;
    }

    .tableCell {
        float: left;
        width:100px;
        border: 1px solid #000000;
        display: table-cell;

    }
</style>

<div id="myTable">
    <div class="tableRow" id="col1">
        <div class="tableCell">User</div>
        <div class="tableCell">Name</div>
        <div class="tableCell">Agility</div>
        <div class="tableCell">Strength</div>
        <div class="tableCell">Defense</div>
        <div class="tableCell">&nbsp; </div>
    </div>
</div>
