<script>

    $(document).ready(function () {
        var t = 0;
        $("#button1").click(function () {
            $.ajax({
                url: '/GamerList/GetGamerList',
                type: 'GET',
                success: function (response) {


                    console.log(response.data.length);
                    for (i = 0; i < response.data.length; i++) {
                        load(response.data, i);
                    }


                    //});
                },
                error: function (xhr) {
                    console.log("Error with get users list.");
                }
            })
        });
    });

    function load(data, i) {

        var row = '<tr><td>' + data[i].User + '</td><td>'
            + data[i].Name + '</td><td>'
            + data[i].Level + '</td><td>'
            + data[i].Agility + '</td><td>'
            + data[i].Defense + '</td><td>'
            + data[i].Strength + '</td><td>'
            + '<input type="button" value = "wyzwij">' + '</td></tr>';

        $row = $(row),
              resort = false;
        $('table')
          .find('tbody').append($row)
          .trigger('addRows', [$row, resort]);
        return false;
        //   }
    };

</script>

<style>
    .myTable {
        display: table;
        width: 100px;
        border: 1px solid #000000;
    }

    .tableRow {
        width: 30px;
        height: 20px;
        display: table-row;
    }

    .tableCell {
        float: left;
        width: 100px;
        border: 1px solid #000000;
        display: table-cell;
    }

    table {
        background-color: #FFFFFF;
        border-collapse: collapse;
        border: 1px solid #000000;
        color: #000000;
        width: 100%;
    }

    tr {
        width: 120px;
    }

    td {
        border: 1px solid #000000;
        height: 10px;
        width: 120px;
    }
</style>

<a> </a>
<table>
    <tr>
        <td>User</td>
        <td>Name</td>
        <td>Level</td>
        <td>Agility</td>
        <td>Strength</td>
        <td>Defense</td>
        <td>&nbsp;</td>
    </tr>
</table>