<script>

    $(document).ready(function () {
        var t = 0;
        $("#button1").click(function () {
            $.ajax({
                url: '/GamerList/GetGamerList',
                type: 'GET',
                success: function (response) {

                    $.map(response, function (k,k) {
               
                        load(k, 0,t);
                        t++;
                    });
                },
                error: function (xhr) {
                    console.log("Error with get users list.");
                }
            })
        });
    });

    function load(model,i,t) {
        if (t == 1) {
          
        console.log(model[0].User);

        var row = '<tr><td>' + model[i].User + '</td><td>'
            + model[i].Name + '</td><td>'
            + model[i].Level + '</td><td>'
            + model[i].Agility + '</td><td>'
            + model[i].Defense + '</td><td>'
            + model[i].Strength + '</td><td>'
            + '<input type="button" value = "wyzwij">' + '</td></tr>';

        $row = $(row),
              resort = true;
        $('table')
          .find('tbody').append($row)
          .trigger('addRows', [$row, resort]);
        return false;
    }
    };

</script>

<style>
    .myTable {
        display: table;
        width: 100px;
        border: 1px solid #000000;
    }

    .tableRow {
        width: 30px;
        height: 20px;
        display: table-row;
    }

    .tableCell {
        float: left;
        width: 100px;
        border: 1px solid #000000;
        display: table-cell;
    }
</style>

<a> </a>
<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:80%" cellpadding="2" cellspacing="2">
    <tr>
        <td>User</td>
        <td>Name</td>
        <td>Level</td>
        <td>Agility</td>
        <td>Strength</td>
        <td>Defense</td>
        <td>&nbsp;</td>
    </tr>
</table>