@{
    ViewBag.Title = "Account";
}
<head>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/infolistscripts.js"></script>


</head>

<h2>Account</h2>
<div>
    <button id="getlist">
        Pobierz liste graczy
    </button>
</div>

@Html.Partial("~/Views/Account/GamerList.cshtml")

