@{
    ViewBag.Title = "Account";
}
<head>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/infolistscripts.js"></script>


</head>

<h2>Account</h2>
<div>
    <button id="button1">
        Pobierz liste graczy
    </button>

    @*<input type="button" id="button2" value="Get info">
        <a><input type="text" id="textbox1" value="11" placeholder="first"></a>
        <a><input type="text" id="textbox2" value ="13" placeholder="second"></a>
        <a><input type="text" id="textbox2" value="13" placeholder="second"></a>*@
</div>

@Html.Partial("~/Views/Account/GamerList.cshtml")
@*@Html.Action("SendGamerList","GamerList")
    Html.Action("GetInfoHero", "Fight", new { ref1= 11,ref2=13})
    @Html.Action("CallToChallenge", "Email", new { ref1 = 4, ref2 = 5 })*@
